* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh; /* play with this later, what does it do? can we do cool stuff?  */
  margin: 0;
  background-image: url("assets/pika-goku.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid-wrapper {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.controls-wrapper {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 90px;
  font-size: xx-large;
  background-image: url("assets/pokeball-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  margin: 1px;
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.current-game {
  border: 3px solid red;
  height: 5vh;
  color: crimson;
}

#lives-display {
  border: 3px solid red;
  width: 300px;
  display: flex;
  justify-content: center;
}

#score-display {
  border: 3px solid red;
  width: 300px;
  display: flex;
  justify-content: center;
  color: black;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-image: url("assets/cartoon-mexican-desert-landscape-game-background_8071-7253-transformed.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid div {
  flex-grow: 1;
  height: 6.7%;
  width: 6%;
  /* border: 1px solid lightgray; */
}

.grid div.player {
  background-image: url("assets/RB_Old_man_Back.png");
  background-size: contain;
}
.grid div.alien {
  background-image: url("assets/tauros.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.shot {
  background-image: url("assets/pokeballNoBG.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.bomb {
  background-image: url("assets/blast.png");
  background-repeat: no-repeat;
  background-size: contain;
}
