* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url("assets/taurosWP.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid-wrapper {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.controls-wrapper {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 90px;
  font-size: xx-large;
  background-image: url("assets/pokeball-cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 110%;
  margin: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  -webkit-text-stroke: 0.7px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  font-weight: normal;
}

.current-game {
  height: 5vh;
  color: rgb(240, 0, 0);
}

#lives-display {
  width: 300px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  border: 3px solid black;
  border-radius: 30px;
  background-color: white;
}

#score-display {
  width: 300px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: xx-large;
  border: 3px solid black;
  border-radius: 30px;
  background-color: white;
}

.instructions {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  height: 10vh;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-image: url("assets/cartoon-mexican-desert-landscape-game-background_8071-7253-transformed.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 30px;
}

.grid div {
  flex-grow: 1;
  height: 6.7%;
  width: 6%;
}

.grid div.player {
  background-image: url("assets/RB_Old_man_Back.png");
  background-size: contain;
}
.grid div.alien {
  background-image: url("assets/tauros.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.shot {
  background-image: url("assets/pokeballNoBG.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.grid div.bomb {
  background-image: url("assets/blast.png");
  background-repeat: no-repeat;
  background-size: contain;
}
